body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #26a78f, #acb6e5); /* Beautiful gradient */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .App {
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: 11px solid black;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #4CAF50;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  tbody tr:hover {
    background-color: black;
    transition: background-color 0.3s ease;
    color: white;
  }
  .App h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    color: black;
    font-weight: 800;
  }